
mat-card{
  margin: 1%;
  
  mat-card-actions{
    display: flex;
    justify-content: flex-end;

    a{
      margin: 2%;
      margin-top: 0;
    }
  }

  .reply-card{
    margin-bottom: 1%;
  }

  mat-form-field {
    width: 100%;
  }
}