<mat-card>
    <mat-card-header>
        <mat-card-title>{{question.content}}</mat-card-title>
        <mat-card-subtitle>{{question.createdAt | date: 'medium'}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content *ngIf="question.replies.length > 0">
        <mat-card class="reply-card" *ngFor="let reply of question.replies">
            <mat-card-content>
                <p>{{reply.content}}</p>
                <small>{{reply.createdAt | date: 'medium'}}</small>
            </mat-card-content>

            <mat-card-actions>
                <a mat-mini-fab color="primary">
                    <mat-icon>
                        {{ action.primary.icon }}
                    </mat-icon>
                </a>

                <a mat-mini-fab color="accent">
                    <mat-icon>
                        {{ action.secondary.icon }}
                    </mat-icon>
                </a>

            </mat-card-actions>
        </mat-card>
    </mat-card-content>

    <mat-card-actions>

        <a mat-mini-fab color="primary">
            <mat-icon>
                {{ action.primary.icon }}
            </mat-icon>
        </a>

        <a mat-mini-fab color="accent">
            <mat-icon>
                {{ action.secondary.icon }}
            </mat-icon>
        </a>

    </mat-card-actions>
</mat-card>