<mat-card>
    <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
        <mat-card-title>
            <a mat-stroked-button color="accent" [routerLink]="['/' + question.questioner.username]">
                {{question.questioner.firstName}} {{question.questioner.middleName}}
            </a>
        </mat-card-title>
        <mat-card-subtitle>
            {{question.createdAt | date: 'medium'}}
        </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <p>{{question.content}}</p>

        <app-reply *ngFor="let reply of question.replies" [replyId]="reply.id"></app-reply>
    </mat-card-content>

    <mat-card-actions>
        <a *ngIf="options.primary.access" mat-mini-fab color="primary">
            <mat-icon>
                {{ options.primary.icon }}
            </mat-icon>
        </a>

        <a *ngIf="options.secondary.access" mat-mini-fab color="accent">
            <mat-icon>
                {{ options.secondary.icon }}
            </mat-icon>
        </a>
    </mat-card-actions>
</mat-card>