
mat-card{
  margin: 1%;

  mat-card-header{
    a{
      text-decoration: none;
      // background-color: green;
    }
  }

  mat-card-actions{
    display: flex;
    justify-content: flex-end;

    a{
      margin: 2%;
      margin-top: 0;
    }
  }

  .reply-card{
    margin-bottom: 1%;
  }

  mat-form-field {
    width: 100%;
  }
}