<mat-tab-group animationDuration="0ms">
    <ng-container *ngFor="let action of tabs">

        <div *ngIf="action.authorized">

            <mat-tab label="{{ action.label }}">
                <div *ngIf="(action.data | async)?.length === 0">
                    <mat-card>
                        <mat-card-content>
                            <p>No {{action.label.toLowerCase()}} were found</p>
                        </mat-card-content>
                    </mat-card>
                </div>

                <app-question-card *ngFor="let question of (action.data | async)?.reverse()" [question]="question"
                    [label]="action.label">
                </app-question-card>
            </mat-tab>

        </div>

    </ng-container>
</mat-tab-group>