<mat-tab-group>
    <ng-container *ngFor="let action of tabOptions">
        <div *ngIf="action.authorized">
            <mat-tab label="{{ action.label }}">
                <app-question-card *ngFor="let question of (action.data | async)" [question]="question"
                    [action]="action.options">
                </app-question-card>
            </mat-tab>
        </div>
    </ng-container>
</mat-tab-group>

<!-- <h1 *ngFor="let question of replies$ | async">{{question | json }}</h1> -->