<div *ngIf="modes.reply">
    <h1 mat-dialog-title>Reply to question "{{data.question.content}}"</h1>
    <form (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline">
            <mat-label>Reply</mat-label>
            <input matInput type="text" [formControl]="input">
            <mat-error *ngIf="input.invalid">this field is required</mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" [disabled]="input.invalid">Submit</button>
    </form>
</div>

<div *ngIf="modes.edit">
    <h1 mat-dialog-title>Edit your {{data.type}}</h1>
    <form (ngSubmit)="onEditSubmit()">
        <mat-form-field appearance="outline">
            <mat-label>Edit</mat-label>
            <input matInput type="text" [formControl]="input">
            <mat-error *ngIf="input.invalid">this field is required</mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" [disabled]="input.invalid">Submit Edit</button>

    </form>
</div>

<div *ngIf="modes.delete">
    <h1 mat-dialog-title>Are you sure that you want to delete this {{data.type}}?</h1>
    <form (ngSubmit)="onDeleteSubmit()">
        <button mat-raised-button color="primary" type="submit">Yea</button>
    </form>
</div>