.ask-question{
  form mat-card mat-card-content {
    // Flex mat content
    display: flex;
    flex-direction: column;

    // Textarea
    mat-form-field {
      width: 100%;
    }

    // Button to right
    button {
      align-self: flex-end;
    }
  }
}