// Main Grid
.grid{
  display: grid;
  grid-template-columns: 20% auto;
  grid-gap: 10px 15px;
}

.info-wrapper{
  grid-column: 1;
}

.action-wrapper{
  grid-column: 2;

  // Asking a question form
  .ask-question{
    form mat-card mat-card-content {

      // Flex mat content
      display: flex;
      flex-direction: column;

      // Textarea
      mat-form-field {
        width: 100%;
      }

      // Button to right
      button {
        align-self: flex-end;
      }
    }
  }

  .actions {
    padding-left: 1%;
    padding-right: 1%;
    .action-card{
      margin-top: 1%;
      margin-bottom: 1%;

      // Reply width
      mat-form-field {
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .grid{
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
  }

  .info-wrapper{
    grid-column: 1;
    grid-row: 1;
  }

  .action-wrapper{
    grid-column: 1;
    grid-row: 2;
  }
  
}