.profile-grid{
  display: grid;
  grid-template-columns: 20% auto;
  grid-template-rows: 10% auto;
}

mat-card{
  grid-row-start: 1;
  grid-row-end: span 2;
}

.return-container{
  grid-column: 2;

  mat-tab-group{
    grid-row: 1;
  }

  .return{
    grid-row: 2;
  }
}