<div class="grid">

    <div class="info-wrapper card-wrappers">
        <mat-card class="profile-card">
            <mat-card-header>
                <mat-card-title>{{user.firstName}} {{ user.middleName }}</mat-card-title>
                <mat-card-subtitle>@{{ user.username }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>Joined at {{user.createdAt | date}}</p>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="action-wrapper">

        <div class="ask-question" *ngIf="!isMyProfile">
            <form (ngSubmit)="submitQuestion()">
                <mat-card>
                    <mat-card-title>Ask {{user.firstName}} a question !</mat-card-title>

                    <mat-card-content>
                        <div>
                            <mat-form-field class="field" appearance="outline">
                                <textarea [(ngModel)]="question" name="question" rows="5" matInput
                                    placeholder="Your Question"></textarea>
                            </mat-form-field>
                        </div>

                        <button mat-icon-button type="submit">
                            <mat-icon>send</mat-icon>
                        </button>
                    </mat-card-content>
                </mat-card>
            </form>
        </div>

        <div class="actions">
            <mat-tab-group>
                <ng-container *ngFor="let action of actions">
                    <div *ngIf="action.isAuthorized">
                        <mat-tab label="{{ action.label }}">

                            <div *ngIf="action.found.state; else notFound">
                                <mat-card class="action-card" *ngFor="let model of action.found.data">
                                    <mat-card-header>
                                        <mat-card-title>#{{model.id}} {{model.question}}</mat-card-title>
                                        <mat-card-subtitle>{{model.createdAt | date: 'medium'}}</mat-card-subtitle>
                                    </mat-card-header>

                                    <mat-card-content>
                                        <mat-form-field class="reply-field" appearance="outline"
                                            *ngFor="let reply of model.replies">
                                            <pre>{{reply | json}}</pre>
                                            <textarea matInput type="text" readonly
                                                value=" @{{reply.byUsername}}:{{reply.reply}}"></textarea>
                                        </mat-form-field>
                                    </mat-card-content>

                                    <mat-card-actions *ngIf="isMyProfile">
                                        <a mat-button (click)="openDialog()">{{ action.found.options.primary }}</a>
                                        <a mat-raised-button color="warn">{{ action.found.options.secondary }}</a>
                                    </mat-card-actions>
                                </mat-card>
                            </div>

                            <ng-template #notFound>
                                <mat-card class="action-card">
                                    <mat-card-content>
                                        <p class="message">{{action.found.message}}</p>
                                    </mat-card-content>
                                </mat-card>
                            </ng-template>
                        </mat-tab>
                    </div>
                </ng-container>
            </mat-tab-group>
        </div>

    </div>

</div>