.profile-grid{
  display: grid;
  grid-template-columns: 20% auto;
}

.question-poster-container {
  display: flex;
  flex-direction: column;
}

.question-poster-container > * {
  width: 100%;
}


.question-poster-container .field{
  flex-grow: 100;
}

.question-wrapper{
  margin: 0 1%;

  textarea{
    resize: none;
  }
  mat-card-content{
    display: flex;
    flex-direction: column;
  }
  .sending-btn{
    align-self: flex-end;
  }
}
.text-danger{
  color: red;
}

.tab-wrapper{
  margin: 1% 0;
  
  mat-card{
    margin: 1% 0;    
  }
}

.no-question .message {
  text-align: center;
}

.profile-wrapper{
  grid-column: 1;
}

.tab-wrapper{
  grid-column: 2;
}

@media only screen and (max-width: 600px) {
  .profile-grid{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: none;
  }

  .profile-wrapper{
    grid-row: 1;
    grid-column: 1;
  }
  
  .tab-wrapper{
    grid-row: 2;
    grid-column: 1;
  }
  
}