<div class="profile-grid">

    <div class="profile-wrapper">
        <mat-card class="profile-card">
            <mat-card-header>
                <mat-card-title>{{user.firstName}} {{ user.middleName }}</mat-card-title>
                <mat-card-subtitle>@{{ user.username }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>Joined at {{user.createdAt | date}}</p>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="question-wrapper">
        <div *ngIf="!isMyProfile">
            <form (ngSubmit)="submitQuestion()">
                <mat-card class="user-question">
                    <mat-card-title>Ask {{user.firstName}} a question !</mat-card-title>

                    <mat-card-content>
                        <div class="question-poster-container">
                            <mat-form-field class="field" appearance="outline">
                                <textarea [(ngModel)]="question" name="question" rows="5" matInput
                                    placeholder="Your Question"></textarea>
                            </mat-form-field>
                        </div>
                        <button mat-icon-button class="sending-btn" type="submit">
                            <mat-icon>send</mat-icon>
                        </button>
                    </mat-card-content>
                </mat-card>
            </form>
        </div>

        <!-- <mat-divider *ngIf="!isMyProfile"></mat-divider> -->

        <div class="tab-wrapper">
            <mat-tab-group>

                <mat-tab label="Replies">
                    <div class="replies-wrapper">
                        <div *ngIf="noReplies; else repliesBlock">
                            <mat-card class="no-question">
                                <mat-card-content>
                                    <p class="message">{{user.firstName}} didn't reply on any question!</p>
                                </mat-card-content>
                            </mat-card>
                        </div>

                        <ng-template #repliesBlock>
                            <mat-card class="question-container" *ngFor="let reply of replies">
                                <mat-card-header>
                                    <mat-card-title>{{reply.reply}}</mat-card-title>
                                    <mat-card-subtitle>{{reply.createdAt | date: 'medium'}}</mat-card-subtitle>
                                </mat-card-header>
                            </mat-card>
                        </ng-template>
                    </div>
                </mat-tab>

                <mat-tab label="Questions">
                    <div class="questions-wrapper">
                        <div *ngIf="noQuestions; else questionBlock">
                            <mat-card class="no-question">
                                <mat-card-content>
                                    <p class="message">{{user.firstName}} doesn't have any questions!</p>
                                </mat-card-content>
                            </mat-card>
                        </div>

                        <ng-template #questionBlock>
                            <mat-card class="question-container" *ngFor="let question of questions">
                                <mat-card-header>
                                    <mat-card-title>#{{question.id}}</mat-card-title>
                                </mat-card-header>

                                <mat-card-content>
                                    <p>{{question.question}}</p>
                                    <p>{{question.createdAt | date: 'medium'}}</p>
                                </mat-card-content>

                                <mat-card-actions *ngIf="isMyProfile">
                                    <a mat-button>Edit</a>
                                    <a mat-raised-button color="warn">Delete</a>
                                </mat-card-actions>
                            </mat-card>
                        </ng-template>
                    </div>
                </mat-tab>


                <mat-tab *ngIf="isMyProfile" label="Not Answered Questions">
                    <div *ngIf="noUnansweredQuestions; else unansweredQuestionBlock">
                        <mat-card class="no-question">
                            <mat-card-content>
                                <p class="message">You don't have any unanswered questions!</p>
                            </mat-card-content>
                        </mat-card>
                    </div>

                    <ng-template #unansweredQuestionBlock>
                        <mat-card class="question-container" *ngFor="let question of unansweredQuestions">
                            <mat-card-header>
                                <mat-card-title>#{{question.id}}</mat-card-title>
                            </mat-card-header>

                            <mat-card-content>
                                <p>{{question.question}}</p>
                                <p>{{question.createdAt | date: 'medium'}}</p>
                            </mat-card-content>

                            <mat-card-actions *ngIf="isMyProfile">
                                <a mat-button>Answer</a>
                                <a mat-button>Ignore</a>
                            </mat-card-actions>
                        </mat-card>
                    </ng-template>
                </mat-tab>
            </mat-tab-group>

        </div>
    </div>

</div>