<mat-toolbar color="primary">

    <a mat-stroked-button class="title" [routerLink]="['/']">Questionary</a>

    <span class="spacer"></span>

    <div *ngIf="getLoginStatus(); else elseBlock">
        <div>
            <a matBadge="15" matBadgeColor="warn" mat-raised-button color="accent" (click)="getProfile()">
                <mat-icon>person</mat-icon>
            </a>
            <a mat-stroked-button color="accent" (click)="logout()">Logout</a>
        </div>
    </div>

    <ng-template #elseBlock>
        <div>
            <a [routerLink]="['register']" mat-raised-button color="accent">Register</a>
            <a [routerLink]="['login']" mat-stroked-button color="accent">Login</a>
        </div>
    </ng-template>


</mat-toolbar>