<mat-card>
    <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
        <mat-card-title>
            <a mat-stroked-button color="accent" [routerLink]="['/' + reply?.by.username]">
                {{reply?.by.firstName}} {{reply?.by.middleName}}
            </a>
        </mat-card-title>
        <mat-card-subtitle>
            {{reply?.createdAt | date: 'medium'}}
        </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <p>{{reply?.content}}</p>
    </mat-card-content>

    <mat-card-actions>
        <a *ngIf="options?.primary.access" mat-mini-fab color="primary"
            (click)="openDialog(reply, options.primary.functionality, 'reply')">
            <mat-icon>
                {{ options.primary.icon }}
            </mat-icon>
        </a>

        <a *ngIf="options?.secondary.access" mat-mini-fab color="accent"
            (click)="openDialog(reply, options.secondary.functionality, 'reply')">
            <mat-icon>
                {{ options.secondary.icon }}
            </mat-icon>
        </a>
    </mat-card-actions>
</mat-card>